*{
    margin: 0;
    font-family: 'Work Sans', sans-serif;
}
/* header and navigation */
nav{
    display: flex;
    justify-content: space-between;
    margin: 50px 200px;
}
nav li{
    list-style: none;
   margin-left: 50px;
}
nav ul{
    display: flex;
    align-items: center;
    
}
.nav-title{
    font-weight: 700;
    font-size: 45px;
}
/* header and banner */
.about{

   text-align: center;
    width: 862px;
    height: 225px;
    margin-top: 102px;
    margin-left: 235px;
    
}



.section-title{
    font-weight: 700;
font-size: 64px;
line-height: 75px;

}
.section-title-2{
    font-weight: 700;
    font-size: 64px;
    line-height: 75px;
}
.secton-description{
margin-top: 33px;
font-weight: 400;
font-size: 16px;
line-height: 26px;
}
.btn-primary{
    margin: 32px;
    border: 0;
    padding: 25px 20px;
    width: 180px;
    height: 64px;
    background: #FF900E;
    border-radius: 8px;
    color: #FFFFFF;
}
.banner-title{
    width: 100%;
    height: 100%;
 
  
}
 /* banner-logo */
 .banner-up{
    display: flex;
   
    
 }
 
 .banner{
    padding: 50px;
    width: 250px;
    height: 250px;
    border-radius: 8px;
   
 }
 .banner-logo{
    width: 342px;
   height: 342px;
    padding-bottom: 10px;
 }
.banner-down{
    display: flex;
    
}
.banner-right-container{
  

    position: absolute;
    width: 537px;
    height: 304px;
    left: 1057px;
    top: 1597px;
    
    


}
.header-text{
    
    

}
   